adf-ucb-dw-subsidio-8015725/ARMTemplateForFactory.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Nombre de instancia de Data Factory",
			"defaultValue": "adf-ucb-dw-subsidio-8015725"
		},
		"datalake_subsidios_connectionString": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"connectionString\"de \"datalake_subsidios\""
		},
		"dw_subsiduios_password": {
			"type": "secureString",
			"metadata": "Cadena protegida para \"password\"de \"dw_subsiduios\""
		},
		"dw_subsiduios_properties_typeProperties_server": {
			"type": "string",
			"defaultValue": "sql-ucb-sisger-subsidio-8015725.database.windows.net"
		},
		"dw_subsiduios_properties_typeProperties_database": {
			"type": "string",
			"defaultValue": "dw_subsidio"
		},
		"dw_subsiduios_properties_typeProperties_userName": {
			"type": "string",
			"defaultValue": "luis"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/pl_carga_silver')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "act_silver_segip_personas",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_segip_personas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "act_silver_sedem_infraestructura_productos",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "act_silver_segip_personas",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sedem_infraestructura_productos",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"source1": {},
									"source2": {},
									"source3": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_sedem_produccion",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "act_silver_sedem_infraestructura_productos",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_sedem_produccion",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"produccion": {},
									"inventario": {},
									"sink1": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_agencia_logistica",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_sedem_produccion",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_agencia_logistica",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"almacenes": {},
									"recepciones": {},
									"despachos": {},
									"sink1": {},
									"sink2": {},
									"sink3": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_subsidio_universal",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_agencia_logistica",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_subsidio_universal",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"establecimientos": {},
									"catalogo": {},
									"boletas": {},
									"entregas": {},
									"sink1": {},
									"sink2": {},
									"sink3": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_subsidio_lactancia",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_subsidio_universal",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_subsidio_lactancia",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"empleadores": {},
									"afiliaciones": {},
									"asignacionesmensuales": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					},
					{
						"name": "df_silver_spl_entregas",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "df_silver_subsidio_lactancia",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "0.12:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "df_silver_spl_entregas",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"entregasagencias": {},
									"entregassupermercado": {},
									"sink1": {},
									"sink2": {}
								}
							},
							"staging": {},
							"compute": {
								"coreCount": 8,
								"computeType": "General"
							},
							"traceLevel": "Fine"
						}
					}
				],
				"policy": {
					"elapsedTimeMetric": {}
				},
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/df_silver_segip_personas')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sedem_infraestructura_productos')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_sedem_produccion')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_agencia_logistica')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_subsidio_universal')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_subsidio_lactancia')]",
				"[concat(variables('factoryId'), '/dataflows/df_silver_spl_entregas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/almacenes_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "almacenes.csv",
						"folderPath": "agencia distribuidora sedem",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "almacen_id",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "municipio",
						"type": "String"
					},
					{
						"name": "departamento",
						"type": "String"
					},
					{
						"name": "direccion",
						"type": "String"
					},
					{
						"name": "capacidad_m3",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/boletas_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "boletas.csv",
						"folderPath": "subsidio universal",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "boleta_id",
						"type": "String"
					},
					{
						"name": "control_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "nro_boleta",
						"type": "String"
					},
					{
						"name": "fecha_emision",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/catalogo_paquetes_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "catalogo-paquetes.csv",
						"folderPath": "subsidio universal",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "paquete_id",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "contenido",
						"type": "String"
					},
					{
						"name": "peso_estandar_kg",
						"type": "String"
					},
					{
						"name": "costo_estimado_bs",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/controles_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "controles.csv",
						"folderPath": "subsidio universal",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "control_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "nro_control",
						"type": "String"
					},
					{
						"name": "fecha_control",
						"type": "String"
					},
					{
						"name": "semana_gestacion",
						"type": "String"
					},
					{
						"name": "peso_madre_kg",
						"type": "String"
					},
					{
						"name": "presion_arterial",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/despachos_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "despachos.csv",
						"folderPath": "agencia distribuidora sedem",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "despacho_id",
						"type": "String"
					},
					{
						"name": "recepcion_id",
						"type": "String"
					},
					{
						"name": "nro_lote",
						"type": "String"
					},
					{
						"name": "almacen_id",
						"type": "String"
					},
					{
						"name": "transportista_id",
						"type": "String"
					},
					{
						"name": "vehiculo_id",
						"type": "String"
					},
					{
						"name": "fecha_despacho",
						"type": "String"
					},
					{
						"name": "cantidad_despachada",
						"type": "String"
					},
					{
						"name": "centro_destino",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					},
					{
						"name": "responsable",
						"type": "String"
					},
					{
						"name": "nro_guia_despacho",
						"type": "String"
					},
					{
						"name": "fecha_llegada",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/entregas_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "entregas.csv",
						"folderPath": "subsidio universal",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "entrega_id",
						"type": "String"
					},
					{
						"name": "boleta_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "paquete_id",
						"type": "String"
					},
					{
						"name": "paquete_nombre",
						"type": "String"
					},
					{
						"name": "fecha_entrega",
						"type": "String"
					},
					{
						"name": "lote_produccion",
						"type": "String"
					},
					{
						"name": "peso_paquete_kg",
						"type": "String"
					},
					{
						"name": "fecha_proxima_entrega",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/establecimientos_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "establecimientos.csv",
						"folderPath": "subsidio universal",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "codigo_snis",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "tipo",
						"type": "String"
					},
					{
						"name": "nivel_atencion",
						"type": "String"
					},
					{
						"name": "municipio",
						"type": "String"
					},
					{
						"name": "departamento",
						"type": "String"
					},
					{
						"name": "red_salud",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/inscripciones_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "inscripciones.csv",
						"folderPath": "subsidio universal",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "inscripcion_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "establecimiento_id",
						"type": "String"
					},
					{
						"name": "fecha_inscripcion",
						"type": "String"
					},
					{
						"name": "semana_gestacion",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/recepciones_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "recepciones.csv",
						"folderPath": "agencia distribuidora sedem",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "recepcion_id",
						"type": "String"
					},
					{
						"name": "nro_lote",
						"type": "String"
					},
					{
						"name": "almacen_id",
						"type": "String"
					},
					{
						"name": "transportista_id",
						"type": "String"
					},
					{
						"name": "vehiculo_id",
						"type": "String"
					},
					{
						"name": "fecha_recepcion",
						"type": "String"
					},
					{
						"name": "cantidad_recibida",
						"type": "String"
					},
					{
						"name": "unidad",
						"type": "String"
					},
					{
						"name": "condicion",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					},
					{
						"name": "responsable",
						"type": "String"
					},
					{
						"name": "nro_guia_remision",
						"type": "String"
					},
					{
						"name": "temperatura_llegada",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sedem_control_calidad_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sedem_control_calidad.csv",
						"folderPath": "sedem",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "control_id",
						"type": "String"
					},
					{
						"name": "produccion_id",
						"type": "String"
					},
					{
						"name": "nro_lote",
						"type": "String"
					},
					{
						"name": "nro_control",
						"type": "String"
					},
					{
						"name": "fecha_control",
						"type": "String"
					},
					{
						"name": "parametro",
						"type": "String"
					},
					{
						"name": "valor_medido",
						"type": "String"
					},
					{
						"name": "unidad_medida",
						"type": "String"
					},
					{
						"name": "valor_minimo",
						"type": "String"
					},
					{
						"name": "valor_maximo",
						"type": "String"
					},
					{
						"name": "cumple",
						"type": "String"
					},
					{
						"name": "inspector",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sedem_empresas_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sedem_empresas.csv",
						"folderPath": "sedem",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "empresa_id",
						"type": "String"
					},
					{
						"name": "sigla",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "descripcion",
						"type": "String"
					},
					{
						"name": "nit",
						"type": "String"
					},
					{
						"name": "municipio",
						"type": "String"
					},
					{
						"name": "departamento",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sedem_inventario_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sedem_inventario.csv",
						"folderPath": "sedem",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "inventario_id",
						"type": "String"
					},
					{
						"name": "empresa_id",
						"type": "String"
					},
					{
						"name": "producto_id",
						"type": "String"
					},
					{
						"name": "nro_lote",
						"type": "String"
					},
					{
						"name": "cantidad_producida",
						"type": "String"
					},
					{
						"name": "cantidad_despachada",
						"type": "String"
					},
					{
						"name": "cantidad_disponible",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					},
					{
						"name": "fecha_ultimo_movimiento",
						"type": "String"
					},
					{
						"name": "almacen",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sedem_plantas_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sedem_plantas.csv",
						"folderPath": "sedem",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "planta_id",
						"type": "String"
					},
					{
						"name": "empresa_id",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "municipio",
						"type": "String"
					},
					{
						"name": "departamento",
						"type": "String"
					},
					{
						"name": "tipo",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sedem_produccion_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sedem_produccion.csv",
						"folderPath": "sedem",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "produccion_id",
						"type": "String"
					},
					{
						"name": "empresa_id",
						"type": "String"
					},
					{
						"name": "planta_id",
						"type": "String"
					},
					{
						"name": "producto_id",
						"type": "String"
					},
					{
						"name": "nro_lote",
						"type": "String"
					},
					{
						"name": "fecha_produccion",
						"type": "String"
					},
					{
						"name": "cantidad",
						"type": "String"
					},
					{
						"name": "unidad",
						"type": "String"
					},
					{
						"name": "turno",
						"type": "String"
					},
					{
						"name": "responsable",
						"type": "String"
					},
					{
						"name": "costo_produccion",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					},
					{
						"name": "fecha_vencimiento",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/sedem_productos_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "sedem_productos.csv",
						"folderPath": "sedem",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "producto_id",
						"type": "String"
					},
					{
						"name": "empresa_id",
						"type": "String"
					},
					{
						"name": "nombre",
						"type": "String"
					},
					{
						"name": "categoria",
						"type": "String"
					},
					{
						"name": "presentacion",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/segip_personas_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "segip_personas.csv",
						"folderPath": "segip",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "ci",
						"type": "String"
					},
					{
						"name": "nombres",
						"type": "String"
					},
					{
						"name": "apellido_paterno",
						"type": "String"
					},
					{
						"name": "apellido_materno",
						"type": "String"
					},
					{
						"name": "fecha_nacimiento",
						"type": "String"
					},
					{
						"name": "genero",
						"type": "String"
					},
					{
						"name": "estado_civil",
						"type": "String"
					},
					{
						"name": "ci_conyuge",
						"type": "String"
					},
					{
						"name": "numero_hijos",
						"type": "String"
					},
					{
						"name": "ci_padre",
						"type": "String"
					},
					{
						"name": "ci_madre",
						"type": "String"
					},
					{
						"name": "profesion",
						"type": "String"
					},
					{
						"name": "nivel_estudios",
						"type": "String"
					},
					{
						"name": "municipio_residencia",
						"type": "String"
					},
					{
						"name": "fecha_emision",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/spl_afiliaciones_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "spl_afiliaciones.csv",
						"folderPath": "subsidio prenatal y de lactancia",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "afiliacion_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "empleador_id",
						"type": "String"
					},
					{
						"name": "caja_id",
						"type": "String"
					},
					{
						"name": "fecha_afiliacion",
						"type": "String"
					},
					{
						"name": "nro_matricula",
						"type": "String"
					},
					{
						"name": "tipo_subsidio",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/spl_asignaciones_mensuales_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "spl_asignaciones_mensuales.csv",
						"folderPath": "subsidio prenatal y de lactancia",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "asignacion_id",
						"type": "String"
					},
					{
						"name": "afiliacion_id",
						"type": "String"
					},
					{
						"name": "mes",
						"type": "String"
					},
					{
						"name": "gestion",
						"type": "String"
					},
					{
						"name": "monto_bs",
						"type": "String"
					},
					{
						"name": "monto_productos",
						"type": "String"
					},
					{
						"name": "monto_carnes",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/spl_certificados_medicos_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "spl_certificados_medicos.csv",
						"folderPath": "subsidio prenatal y de lactancia",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "certificado_id",
						"type": "String"
					},
					{
						"name": "afiliacion_id",
						"type": "String"
					},
					{
						"name": "fecha_emision",
						"type": "String"
					},
					{
						"name": "semana_gestacion",
						"type": "String"
					},
					{
						"name": "fecha_probable_parto",
						"type": "String"
					},
					{
						"name": "medico_responsable",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/spl_empleadores_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "spl_empleadores.csv",
						"folderPath": "subsidio prenatal y de lactancia",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "empleador_id",
						"type": "String"
					},
					{
						"name": "nit",
						"type": "String"
					},
					{
						"name": "razon_social",
						"type": "String"
					},
					{
						"name": "tipo",
						"type": "String"
					},
					{
						"name": "nro_patronal",
						"type": "String"
					},
					{
						"name": "municipio",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/spl_entrega_agencias_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "spl_entregas_agencia.csv",
						"folderPath": "subsidio prenatal y de lactancia",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "entrega_ag_id",
						"type": "String"
					},
					{
						"name": "asignacion_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "fecha_entrega",
						"type": "String"
					},
					{
						"name": "productos",
						"type": "String"
					},
					{
						"name": "lote",
						"type": "String"
					},
					{
						"name": "peso_kg",
						"type": "String"
					},
					{
						"name": "punto_entrega",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/spl_entregas_supermercado_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "spl_entregas_supermercado (1).csv",
						"folderPath": "subsidio prenatal y de lactancia",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "entrega_super_id",
						"type": "String"
					},
					{
						"name": "asignacion_id",
						"type": "String"
					},
					{
						"name": "ci_beneficiaria",
						"type": "String"
					},
					{
						"name": "supermercado_id",
						"type": "String"
					},
					{
						"name": "fecha_retiro",
						"type": "String"
					},
					{
						"name": "tipo_carne",
						"type": "String"
					},
					{
						"name": "cantidad_kg",
						"type": "String"
					},
					{
						"name": "monto_bs",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_agencia_almacenes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "almacen_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "municipio",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "capacidad_m3",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_agencia_almacenes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_agencia_despachos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "despacho_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "recepcion_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nro_lote",
						"type": "varchar"
					},
					{
						"name": "almacen_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_despacho",
						"type": "date"
					},
					{
						"name": "fecha_llegada",
						"type": "date"
					},
					{
						"name": "cantidad_despachada",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "centro_destino",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_agencia_despachos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_agencia_recepciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "recepcion_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nro_lote",
						"type": "varchar"
					},
					{
						"name": "almacen_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_recepcion",
						"type": "date"
					},
					{
						"name": "cantidad_recibida",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "condicion",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_agencia_recepciones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_sedem_infraestructura')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "planta_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "empresa_sigla",
						"type": "varchar"
					},
					{
						"name": "empresa_nombre",
						"type": "varchar"
					},
					{
						"name": "planta_nombre",
						"type": "varchar"
					},
					{
						"name": "tipo_planta",
						"type": "varchar"
					},
					{
						"name": "municipio",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					},
					{
						"name": "estado_operativo",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_sedem_infraestructura"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_sedem_produccion')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "produccion_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "planta_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "producto_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nro_lote",
						"type": "varchar"
					},
					{
						"name": "fecha_produccion",
						"type": "date"
					},
					{
						"name": "fecha_vencimiento",
						"type": "date"
					},
					{
						"name": "cantidad_producida",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "cantidad_despachada",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "costo_produccion_bs",
						"type": "decimal",
						"precision": 18,
						"scale": 2
					},
					{
						"name": "unidad",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_sedem_produccion"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_sedem_productos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "producto_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "empresa_sigla",
						"type": "varchar"
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "categoria",
						"type": "varchar"
					},
					{
						"name": "presentacion",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_sedem_productos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_segip_personas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "ci",
						"type": "varchar"
					},
					{
						"name": "nombres",
						"type": "varchar"
					},
					{
						"name": "apellido_paterno",
						"type": "varchar"
					},
					{
						"name": "apellido_materno",
						"type": "varchar"
					},
					{
						"name": "fecha_nacimiento",
						"type": "date"
					},
					{
						"name": "genero",
						"type": "varchar"
					},
					{
						"name": "estado_civil",
						"type": "varchar"
					},
					{
						"name": "ci_conyuge",
						"type": "varchar"
					},
					{
						"name": "numero_hijos",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_padre",
						"type": "varchar"
					},
					{
						"name": "ci_madre",
						"type": "varchar"
					},
					{
						"name": "profesion",
						"type": "varchar"
					},
					{
						"name": "nivel_estudios",
						"type": "varchar"
					},
					{
						"name": "municipio_residencia",
						"type": "varchar"
					},
					{
						"name": "fecha_emision",
						"type": "date"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_segip_personas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_spl_asignaciones')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "asignacion_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "empleador_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "mes",
						"type": "int",
						"precision": 10
					},
					{
						"name": "gestion",
						"type": "int",
						"precision": 10
					},
					{
						"name": "monto_bs",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "monto_productos",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "tipo_subsidio",
						"type": "varchar"
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_spl_asignaciones"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_spl_empleadores')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "empleador_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "razon_social",
						"type": "varchar"
					},
					{
						"name": "tipo",
						"type": "varchar"
					},
					{
						"name": "municipio",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_spl_empleadores"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_spl_entregas_agencia')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "entrega_ag_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "asignacion_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "fecha_entrega",
						"type": "date"
					},
					{
						"name": "productos",
						"type": "varchar"
					},
					{
						"name": "lote",
						"type": "varchar"
					},
					{
						"name": "peso_kg",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "punto_entrega",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_spl_entregas_agencia"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_spl_entregas_supermercado')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "entrega_super_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "asignacion_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "supermercado_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "fecha_retiro",
						"type": "date"
					},
					{
						"name": "tipo_carne",
						"type": "varchar"
					},
					{
						"name": "cantidad_kg",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "monto_bs",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_spl_entregas_supermercado"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_sup_entregas')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "entrega_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "boleta_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "ci_beneficiaria",
						"type": "varchar"
					},
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "paquete_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "lote_produccion",
						"type": "varchar"
					},
					{
						"name": "fecha_emision_boleta",
						"type": "date"
					},
					{
						"name": "fecha_entrega",
						"type": "date"
					},
					{
						"name": "estado",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_sup_entregas"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_sup_establecimientos')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "establecimiento_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "tipo",
						"type": "varchar"
					},
					{
						"name": "municipio",
						"type": "varchar"
					},
					{
						"name": "departamento",
						"type": "varchar"
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_sup_establecimientos"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/tbl_sup_paquetes')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "dw_subsiduios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "silver"
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [
					{
						"name": "paquete_id",
						"type": "int",
						"precision": 10
					},
					{
						"name": "nombre",
						"type": "varchar"
					},
					{
						"name": "peso_estandar_kg",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					},
					{
						"name": "costo_estimado_bs",
						"type": "decimal",
						"precision": 10,
						"scale": 2
					}
				],
				"typeProperties": {
					"schema": "silver",
					"table": "tbl_sup_paquetes"
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/dw_subsiduios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/transportistas_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "transportistas.csv",
						"folderPath": "agencia distribuidora sedem",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "transportista_id",
						"type": "String"
					},
					{
						"name": "razon_social",
						"type": "String"
					},
					{
						"name": "nit",
						"type": "String"
					},
					{
						"name": "municipio",
						"type": "String"
					},
					{
						"name": "contacto",
						"type": "String"
					},
					{
						"name": "telefono",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/vehiculos_csv')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "datalake_subsidios",
					"type": "LinkedServiceReference"
				},
				"folder": {
					"name": "bronze"
				},
				"annotations": [],
				"type": "DelimitedText",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"fileName": "vehiculos.csv",
						"folderPath": "agencia distribuidora sedem",
						"container": "bronze"
					},
					"columnDelimiter": ",",
					"escapeChar": "\\",
					"firstRowAsHeader": true,
					"quoteChar": "\""
				},
				"schema": [
					{
						"name": "vehiculo_id",
						"type": "String"
					},
					{
						"name": "transportista_id",
						"type": "String"
					},
					{
						"name": "descripcion",
						"type": "String"
					},
					{
						"name": "placa",
						"type": "String"
					},
					{
						"name": "tipo",
						"type": "String"
					},
					{
						"name": "capacidad_kg",
						"type": "String"
					},
					{
						"name": "estado",
						"type": "String"
					}
				]
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/linkedServices/datalake_subsidios')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/datalake_subsidios')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureBlobStorage",
				"typeProperties": {
					"connectionString": "[parameters('datalake_subsidios_connectionString')]"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/dw_subsiduios')]",
			"type": "Microsoft.DataFactory/factories/linkedServices",
			"apiVersion": "2018-06-01",
			"properties": {
				"annotations": [],
				"type": "AzureSqlDatabase",
				"typeProperties": {
					"server": "[parameters('dw_subsiduios_properties_typeProperties_server')]",
					"database": "[parameters('dw_subsiduios_properties_typeProperties_database')]",
					"encrypt": "mandatory",
					"trustServerCertificate": false,
					"authenticationType": "SQL",
					"userName": "[parameters('dw_subsiduios_properties_typeProperties_userName')]",
					"password": {
						"type": "SecureString",
						"value": "[parameters('dw_subsiduios_password')]"
					}
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_agencia_logistica')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "almacenes_csv",
								"type": "DatasetReference"
							},
							"name": "almacenes"
						},
						{
							"dataset": {
								"referenceName": "recepciones_csv",
								"type": "DatasetReference"
							},
							"name": "recepciones"
						},
						{
							"dataset": {
								"referenceName": "despachos_csv",
								"type": "DatasetReference"
							},
							"name": "despachos"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "tbl_agencia_almacenes",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "tbl_agencia_recepciones",
								"type": "DatasetReference"
							},
							"name": "sink2"
						},
						{
							"dataset": {
								"referenceName": "tbl_agencia_despachos",
								"type": "DatasetReference"
							},
							"name": "sink3"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select2"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "select3"
						},
						{
							"name": "derivedColumn3"
						}
					],
					"scriptLines": [
						"source(output(",
						"          almacen_id as string,",
						"          nombre as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          direccion as string,",
						"          capacidad_m3 as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> almacenes",
						"source(output(",
						"          recepcion_id as string,",
						"          nro_lote as string,",
						"          almacen_id as string,",
						"          transportista_id as string,",
						"          vehiculo_id as string,",
						"          fecha_recepcion as string,",
						"          cantidad_recibida as string,",
						"          unidad as string,",
						"          condicion as string,",
						"          estado as string,",
						"          responsable as string,",
						"          nro_guia_remision as string,",
						"          temperatura_llegada as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> recepciones",
						"source(output(",
						"          despacho_id as string,",
						"          recepcion_id as string,",
						"          nro_lote as string,",
						"          almacen_id as string,",
						"          transportista_id as string,",
						"          vehiculo_id as string,",
						"          fecha_despacho as string,",
						"          cantidad_despachada as string,",
						"          centro_destino as string,",
						"          estado as string,",
						"          responsable as string,",
						"          nro_guia_despacho as string,",
						"          fecha_llegada as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> despachos",
						"almacenes select(mapColumn(",
						"          almacen_id,",
						"          nombre,",
						"          municipio,",
						"          departamento,",
						"          capacidad_m3",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 derive(almacen_id = toInteger(almacen_id),",
						"          nombre = upper(trim(nombre)),",
						"          municipio = upper(trim(municipio)),",
						"          departamento = upper(trim(departamento)),",
						"          capacidad_m3 = toDecimal(capacidad_m3, 10, 2)) ~> derivedColumn1",
						"recepciones select(mapColumn(",
						"          recepcion_id,",
						"          nro_lote,",
						"          almacen_id,",
						"          fecha_recepcion,",
						"          cantidad_recibida,",
						"          condicion,",
						"          estado",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"select2 derive(recepcion_id = toInteger(recepcion_id),",
						"          nro_lote = upper(trim(nro_lote)),",
						"          almacen_id = toInteger(almacen_id),",
						"          fecha_recepcion = toDate(fecha_recepcion, 'yyyy-MM-dd'),",
						"          cantidad_recibida = toDecimal(cantidad_recibida, 18, 2),",
						"          condicion = upper(trim(condicion)),",
						"          estado = upper(trim(estado))) ~> derivedColumn2",
						"despachos select(mapColumn(",
						"          despacho_id,",
						"          recepcion_id,",
						"          nro_lote,",
						"          almacen_id,",
						"          fecha_despacho,",
						"          cantidad_despachada,",
						"          centro_destino,",
						"          estado,",
						"          fecha_llegada",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select3",
						"select3 derive(despacho_id = toInteger(despacho_id),",
						"          recepcion_id = toInteger(recepcion_id),",
						"          nro_lote = upper(trim(nro_lote)),",
						"          almacen_id = toInteger(almacen_id),",
						"          fecha_despacho = toDate(fecha_despacho, 'yyyy-MM-dd'),",
						"          fecha_llegada = toDate(fecha_llegada, 'yyyy-MM-dd'),",
						"          cantidad_despachada = toDecimal(cantidad_despachada, 18, 2),",
						"          centro_destino = upper(trim(centro_destino)),",
						"          estado = upper(trim(estado))) ~> derivedColumn3",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          almacen_id as integer,",
						"          nombre as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          capacidad_m3 as decimal(10,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          almacen_id,",
						"          nombre,",
						"          municipio,",
						"          departamento,",
						"          capacidad_m3",
						"     )) ~> sink1",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          recepcion_id as integer,",
						"          nro_lote as string,",
						"          almacen_id as integer,",
						"          fecha_recepcion as date,",
						"          cantidad_recibida as decimal(18,2),",
						"          condicion as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          recepcion_id,",
						"          nro_lote,",
						"          almacen_id,",
						"          fecha_recepcion,",
						"          cantidad_recibida,",
						"          condicion,",
						"          estado",
						"     )) ~> sink2",
						"derivedColumn3 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          despacho_id as integer,",
						"          recepcion_id as integer,",
						"          nro_lote as string,",
						"          almacen_id as integer,",
						"          fecha_despacho as date,",
						"          fecha_llegada as date,",
						"          cantidad_despachada as decimal(18,2),",
						"          centro_destino as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          despacho_id,",
						"          recepcion_id,",
						"          nro_lote,",
						"          almacen_id,",
						"          fecha_despacho,",
						"          fecha_llegada,",
						"          cantidad_despachada,",
						"          centro_destino,",
						"          estado",
						"     )) ~> sink3"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/almacenes_csv')]",
				"[concat(variables('factoryId'), '/datasets/recepciones_csv')]",
				"[concat(variables('factoryId'), '/datasets/despachos_csv')]",
				"[concat(variables('factoryId'), '/datasets/tbl_agencia_almacenes')]",
				"[concat(variables('factoryId'), '/datasets/tbl_agencia_recepciones')]",
				"[concat(variables('factoryId'), '/datasets/tbl_agencia_despachos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sedem_infraestructura_productos')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "sedem_empresas_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						},
						{
							"dataset": {
								"referenceName": "sedem_productos_csv",
								"type": "DatasetReference"
							},
							"name": "source2"
						},
						{
							"dataset": {
								"referenceName": "sedem_plantas_csv",
								"type": "DatasetReference"
							},
							"name": "source3"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "tbl_sedem_infraestructura",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "tbl_sedem_productos",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "select1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "join2"
						},
						{
							"name": "select2"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          empresa_id as string,",
						"          sigla as string,",
						"          nombre as string,",
						"          descripcion as string,",
						"          nit as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source(output(",
						"          producto_id as string,",
						"          empresa_id as string,",
						"          nombre as string,",
						"          categoria as string,",
						"          presentacion as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source2",
						"source(output(",
						"          planta_id as string,",
						"          empresa_id as string,",
						"          nombre as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          tipo as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source3",
						"source3, source1 join(source3@empresa_id == source1@empresa_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 select(mapColumn(",
						"          planta_id,",
						"          planta_nombre = source3@nombre,",
						"          municipio = source3@municipio,",
						"          departamento = source3@departamento,",
						"          tipo_planta = tipo,",
						"          estado_operativo = source3@estado,",
						"          empresa_sigla = sigla,",
						"          empresa_nombre = source1@nombre",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 derive(empresa_sigla = upper(trim(empresa_sigla)),",
						"          empresa_nombre = upper(trim(empresa_nombre)),",
						"          planta_nombre = upper(trim(planta_nombre)),",
						"          tipo_planta = upper(trim(tipo_planta)),",
						"          municipio = upper(trim(municipio)),",
						"          departamento = upper(trim(departamento)),",
						"          estado_operativo = upper(trim(estado_operativo)),",
						"          planta_id = toInteger(planta_id)) ~> derivedColumn1",
						"source2, source1 join(source2@empresa_id == source1@empresa_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join2",
						"join2 select(mapColumn(",
						"          producto_id,",
						"          nombre = source2@nombre,",
						"          categoria,",
						"          presentacion,",
						"          estado = source2@estado,",
						"          empresa_sigla = sigla",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"select2 derive(empresa_sigla = upper(trim(empresa_sigla)),",
						"          nombre = upper(trim(nombre)),",
						"          categoria = upper(trim(categoria)),",
						"          presentacion = upper(trim(presentacion)),",
						"          estado = upper(trim(estado)),",
						"          producto_id = toInteger(producto_id)) ~> derivedColumn2",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          planta_id as integer,",
						"          empresa_sigla as string,",
						"          empresa_nombre as string,",
						"          planta_nombre as string,",
						"          tipo_planta as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          estado_operativo as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          planta_id,",
						"          empresa_sigla,",
						"          empresa_nombre,",
						"          planta_nombre,",
						"          tipo_planta,",
						"          municipio,",
						"          departamento,",
						"          estado_operativo",
						"     )) ~> sink1",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          producto_id as integer,",
						"          empresa_sigla as string,",
						"          nombre as string,",
						"          categoria as string,",
						"          presentacion as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     truncate:true,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          producto_id,",
						"          empresa_sigla,",
						"          nombre,",
						"          categoria,",
						"          presentacion,",
						"          estado",
						"     )) ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sedem_empresas_csv')]",
				"[concat(variables('factoryId'), '/datasets/sedem_productos_csv')]",
				"[concat(variables('factoryId'), '/datasets/sedem_plantas_csv')]",
				"[concat(variables('factoryId'), '/datasets/tbl_sedem_infraestructura')]",
				"[concat(variables('factoryId'), '/datasets/tbl_sedem_productos')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_sedem_produccion')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "sedem_produccion_csv",
								"type": "DatasetReference"
							},
							"name": "produccion"
						},
						{
							"dataset": {
								"referenceName": "sedem_inventario_csv",
								"type": "DatasetReference"
							},
							"name": "inventario"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "tbl_sedem_produccion",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "join1"
						},
						{
							"name": "select1"
						},
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          produccion_id as string,",
						"          empresa_id as string,",
						"          planta_id as string,",
						"          producto_id as string,",
						"          nro_lote as string,",
						"          fecha_produccion as string,",
						"          cantidad as string,",
						"          unidad as string,",
						"          turno as string,",
						"          responsable as string,",
						"          costo_produccion as string,",
						"          estado as string,",
						"          fecha_vencimiento as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> produccion",
						"source(output(",
						"          inventario_id as string,",
						"          empresa_id as string,",
						"          producto_id as string,",
						"          nro_lote as string,",
						"          cantidad_producida as string,",
						"          cantidad_despachada as string,",
						"          cantidad_disponible as string,",
						"          estado as string,",
						"          fecha_ultimo_movimiento as string,",
						"          almacen as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> inventario",
						"produccion, inventario join(produccion@nro_lote == inventario@nro_lote,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 select(mapColumn(",
						"          produccion_id,",
						"          planta_id,",
						"          producto_id = produccion@producto_id,",
						"          nro_lote = produccion@nro_lote,",
						"          fecha_produccion,",
						"          cantidad_producida = cantidad,",
						"          unidad,",
						"          costo_produccion_bs = costo_produccion,",
						"          fecha_vencimiento,",
						"          cantidad_despachada,",
						"          estado = inventario@estado",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 derive(produccion_id = toInteger(produccion_id),",
						"          planta_id = toInteger(planta_id),",
						"          producto_id = toInteger(producto_id),",
						"          nro_lote = upper(trim(nro_lote)),",
						"          fecha_produccion = toDate(fecha_produccion, 'yyyy-MM-dd'),",
						"          fecha_vencimiento = toDate(fecha_vencimiento, 'yyyy-MM-dd'),",
						"          cantidad_producida = toDecimal(cantidad_producida, 18, 2),",
						"          cantidad_despachada = toDecimal(cantidad_despachada, 18, 2),",
						"          costo_produccion_bs = toDecimal(costo_produccion_bs, 18, 2),",
						"          unidad = upper(trim(unidad)),",
						"          estado = upper(trim(estado))) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          produccion_id as integer,",
						"          planta_id as integer,",
						"          producto_id as integer,",
						"          nro_lote as string,",
						"          fecha_produccion as date,",
						"          fecha_vencimiento as date,",
						"          cantidad_producida as decimal(18,2),",
						"          cantidad_despachada as decimal(18,2),",
						"          costo_produccion_bs as decimal(18,2),",
						"          unidad as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          produccion_id,",
						"          planta_id,",
						"          producto_id,",
						"          nro_lote,",
						"          fecha_produccion,",
						"          fecha_vencimiento,",
						"          cantidad_producida,",
						"          cantidad_despachada,",
						"          costo_produccion_bs,",
						"          unidad,",
						"          estado",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/sedem_produccion_csv')]",
				"[concat(variables('factoryId'), '/datasets/sedem_inventario_csv')]",
				"[concat(variables('factoryId'), '/datasets/tbl_sedem_produccion')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_segip_personas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "segip_personas_csv",
								"type": "DatasetReference"
							},
							"name": "source1"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "tbl_segip_personas",
								"type": "DatasetReference"
							},
							"name": "sink1"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						}
					],
					"scriptLines": [
						"source(output(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          fecha_nacimiento as string,",
						"          genero as string,",
						"          estado_civil as string,",
						"          ci_conyuge as string,",
						"          numero_hijos as string,",
						"          ci_padre as string,",
						"          ci_madre as string,",
						"          profesion as string,",
						"          nivel_estudios as string,",
						"          municipio_residencia as string,",
						"          fecha_emision as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> source1",
						"source1 derive(ci = upper(trim(ci)),",
						"          nombres = upper(trim(nombres)),",
						"          apellido_paterno = upper(trim(apellido_paterno)),",
						"          apellido_materno = upper(trim(apellido_materno)),",
						"          fecha_nacimiento = toDate(fecha_nacimiento, 'yyyy-MM-dd'),",
						"          genero = upper(trim(genero)),",
						"          estado_civil = upper(trim(estado_civil)),",
						"          ci_conyuge = upper(trim(ci_conyuge)),",
						"          numero_hijos = toInteger(numero_hijos),",
						"          ci_padre = upper(trim(ci_padre)),",
						"          ci_madre = upper(trim(ci_madre)),",
						"          profesion = iif(isNull(profesion) || trim(profesion) == '', 'NO REGISTRADO', upper(trim(profesion))),",
						"          nivel_estudios = upper(trim(nivel_estudios)),",
						"          municipio_residencia = upper(trim(municipio_residencia)),",
						"          fecha_emision = toDate(fecha_emision, 'yyyy-MM-dd')) ~> derivedColumn1",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          ci as string,",
						"          nombres as string,",
						"          apellido_paterno as string,",
						"          apellido_materno as string,",
						"          fecha_nacimiento as date,",
						"          genero as string,",
						"          estado_civil as string,",
						"          ci_conyuge as string,",
						"          numero_hijos as integer,",
						"          ci_padre as string,",
						"          ci_madre as string,",
						"          profesion as string,",
						"          nivel_estudios as string,",
						"          municipio_residencia as string,",
						"          fecha_emision as date",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          ci,",
						"          nombres,",
						"          apellido_paterno,",
						"          apellido_materno,",
						"          fecha_nacimiento,",
						"          genero,",
						"          estado_civil,",
						"          ci_conyuge,",
						"          numero_hijos,",
						"          ci_padre,",
						"          ci_madre,",
						"          profesion,",
						"          nivel_estudios,",
						"          municipio_residencia,",
						"          fecha_emision",
						"     )) ~> sink1"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/segip_personas_csv')]",
				"[concat(variables('factoryId'), '/datasets/tbl_segip_personas')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_spl_entregas')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spl_entrega_agencias_csv",
								"type": "DatasetReference"
							},
							"name": "entregasagencias"
						},
						{
							"dataset": {
								"referenceName": "spl_entregas_supermercado_csv",
								"type": "DatasetReference"
							},
							"name": "entregassupermercado"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "tbl_spl_entregas_agencia",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "tbl_spl_entregas_supermercado",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "derivedColumn1"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          entrega_ag_id as string,",
						"          asignacion_id as string,",
						"          ci_beneficiaria as string,",
						"          fecha_entrega as string,",
						"          productos as string,",
						"          lote as string,",
						"          peso_kg as string,",
						"          punto_entrega as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> entregasagencias",
						"source(output(",
						"          entrega_super_id as string,",
						"          asignacion_id as string,",
						"          ci_beneficiaria as string,",
						"          supermercado_id as string,",
						"          fecha_retiro as string,",
						"          tipo_carne as string,",
						"          cantidad_kg as string,",
						"          monto_bs as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> entregassupermercado",
						"entregasagencias derive(entrega_ag_id = toInteger(entrega_ag_id),",
						"          asignacion_id = toInteger(asignacion_id),",
						"          ci_beneficiaria = upper(trim(ci_beneficiaria)),",
						"          fecha_entrega = toDate(fecha_entrega, 'yyyy-MM-dd'),",
						"          productos = upper(trim(productos)),",
						"          lote = upper(trim(lote)),",
						"          peso_kg = toDecimal(peso_kg, 10, 2),",
						"          punto_entrega = upper(trim(punto_entrega))) ~> derivedColumn1",
						"entregassupermercado derive(entrega_super_id = toInteger(entrega_super_id),",
						"          asignacion_id = toInteger(asignacion_id),",
						"          ci_beneficiaria = upper(trim(ci_beneficiaria)),",
						"          supermercado_id = toInteger(supermercado_id),",
						"          fecha_retiro = toDate(fecha_retiro, 'yyyy-MM-dd'),",
						"          tipo_carne = upper(trim(tipo_carne)),",
						"          cantidad_kg = toDecimal(cantidad_kg, 10, 2),",
						"          monto_bs = toDecimal(monto_bs, 10, 2)) ~> derivedColumn2",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_ag_id as integer,",
						"          asignacion_id as integer,",
						"          ci_beneficiaria as string,",
						"          fecha_entrega as date,",
						"          productos as string,",
						"          lote as string,",
						"          peso_kg as decimal(10,2),",
						"          punto_entrega as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          entrega_ag_id,",
						"          asignacion_id,",
						"          ci_beneficiaria,",
						"          fecha_entrega,",
						"          productos,",
						"          lote,",
						"          peso_kg,",
						"          punto_entrega",
						"     )) ~> sink1",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_super_id as integer,",
						"          asignacion_id as integer,",
						"          ci_beneficiaria as string,",
						"          supermercado_id as integer,",
						"          fecha_retiro as date,",
						"          tipo_carne as string,",
						"          cantidad_kg as decimal(10,2),",
						"          monto_bs as decimal(10,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          entrega_super_id,",
						"          asignacion_id,",
						"          ci_beneficiaria,",
						"          supermercado_id,",
						"          fecha_retiro,",
						"          tipo_carne,",
						"          cantidad_kg,",
						"          monto_bs",
						"     )) ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/spl_entrega_agencias_csv')]",
				"[concat(variables('factoryId'), '/datasets/spl_entregas_supermercado_csv')]",
				"[concat(variables('factoryId'), '/datasets/tbl_spl_entregas_agencia')]",
				"[concat(variables('factoryId'), '/datasets/tbl_spl_entregas_supermercado')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_subsidio_lactancia')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "spl_empleadores_csv",
								"type": "DatasetReference"
							},
							"name": "empleadores"
						},
						{
							"dataset": {
								"referenceName": "spl_afiliaciones_csv",
								"type": "DatasetReference"
							},
							"name": "afiliaciones"
						},
						{
							"dataset": {
								"referenceName": "spl_asignaciones_mensuales_csv",
								"type": "DatasetReference"
							},
							"name": "asignacionesmensuales"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "tbl_spl_empleadores",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "tbl_spl_asignaciones",
								"type": "DatasetReference"
							},
							"name": "sink2"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "join1"
						},
						{
							"name": "select2"
						},
						{
							"name": "derivedColumn2"
						}
					],
					"scriptLines": [
						"source(output(",
						"          empleador_id as string,",
						"          nit as string,",
						"          razon_social as string,",
						"          tipo as string,",
						"          nro_patronal as string,",
						"          municipio as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> empleadores",
						"source(output(",
						"          afiliacion_id as string,",
						"          ci_beneficiaria as string,",
						"          empleador_id as string,",
						"          caja_id as string,",
						"          fecha_afiliacion as string,",
						"          nro_matricula as string,",
						"          tipo_subsidio as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> afiliaciones",
						"source(output(",
						"          asignacion_id as string,",
						"          afiliacion_id as string,",
						"          mes as string,",
						"          gestion as string,",
						"          monto_bs as string,",
						"          monto_productos as string,",
						"          monto_carnes as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> asignacionesmensuales",
						"empleadores select(mapColumn(",
						"          empleador_id,",
						"          razon_social,",
						"          tipo,",
						"          municipio",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 derive(empleador_id = toInteger(empleador_id),",
						"          razon_social = upper(trim(razon_social)),",
						"          tipo = upper(trim(tipo)),",
						"          municipio = upper(trim(municipio))) ~> derivedColumn1",
						"asignacionesmensuales, afiliaciones join(asignacionesmensuales@afiliacion_id == afiliaciones@afiliacion_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 select(mapColumn(",
						"          asignacion_id,",
						"          mes,",
						"          gestion,",
						"          monto_bs,",
						"          monto_productos,",
						"          estado = asignacionesmensuales@estado,",
						"          ci_beneficiaria,",
						"          empleador_id,",
						"          tipo_subsidio",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"select2 derive(asignacion_id = toInteger(asignacion_id),",
						"          ci_beneficiaria = upper(trim(ci_beneficiaria)),",
						"          empleador_id = toInteger(empleador_id),",
						"          mes = toInteger(mes),",
						"          gestion = toInteger(gestion),",
						"          monto_bs = toDecimal(monto_bs, 10, 2),",
						"          monto_productos = toDecimal(monto_productos, 10, 2),",
						"          tipo_subsidio = upper(trim(tipo_subsidio)),",
						"          estado = upper(trim(estado))) ~> derivedColumn2",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          empleador_id as integer,",
						"          razon_social as string,",
						"          tipo as string,",
						"          municipio as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          empleador_id,",
						"          razon_social,",
						"          tipo,",
						"          municipio",
						"     )) ~> sink1",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          asignacion_id as integer,",
						"          ci_beneficiaria as string,",
						"          empleador_id as integer,",
						"          mes as integer,",
						"          gestion as integer,",
						"          monto_bs as decimal(10,2),",
						"          monto_productos as decimal(10,2),",
						"          tipo_subsidio as string,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          asignacion_id,",
						"          ci_beneficiaria,",
						"          empleador_id,",
						"          mes,",
						"          gestion,",
						"          monto_bs,",
						"          monto_productos,",
						"          tipo_subsidio,",
						"          estado",
						"     )) ~> sink2"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/spl_empleadores_csv')]",
				"[concat(variables('factoryId'), '/datasets/spl_afiliaciones_csv')]",
				"[concat(variables('factoryId'), '/datasets/spl_asignaciones_mensuales_csv')]",
				"[concat(variables('factoryId'), '/datasets/tbl_spl_empleadores')]",
				"[concat(variables('factoryId'), '/datasets/tbl_spl_asignaciones')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/df_silver_subsidio_universal')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"folder": {
					"name": "silver"
				},
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "establecimientos_csv",
								"type": "DatasetReference"
							},
							"name": "establecimientos"
						},
						{
							"dataset": {
								"referenceName": "catalogo_paquetes_csv",
								"type": "DatasetReference"
							},
							"name": "catalogo"
						},
						{
							"dataset": {
								"referenceName": "boletas_csv",
								"type": "DatasetReference"
							},
							"name": "boletas"
						},
						{
							"dataset": {
								"referenceName": "entregas_csv",
								"type": "DatasetReference"
							},
							"name": "entregas"
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "tbl_sup_establecimientos",
								"type": "DatasetReference"
							},
							"name": "sink1"
						},
						{
							"dataset": {
								"referenceName": "tbl_sup_paquetes",
								"type": "DatasetReference"
							},
							"name": "sink2"
						},
						{
							"dataset": {
								"referenceName": "tbl_sup_entregas",
								"type": "DatasetReference"
							},
							"name": "sink3"
						}
					],
					"transformations": [
						{
							"name": "select1"
						},
						{
							"name": "derivedColumn1"
						},
						{
							"name": "select2"
						},
						{
							"name": "derivedColumn2"
						},
						{
							"name": "join1"
						},
						{
							"name": "select3"
						},
						{
							"name": "derivedColumn3"
						}
					],
					"scriptLines": [
						"source(output(",
						"          establecimiento_id as string,",
						"          codigo_snis as string,",
						"          nombre as string,",
						"          tipo as string,",
						"          nivel_atencion as string,",
						"          municipio as string,",
						"          departamento as string,",
						"          red_salud as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> establecimientos",
						"source(output(",
						"          paquete_id as string,",
						"          nombre as string,",
						"          contenido as string,",
						"          peso_estandar_kg as string,",
						"          costo_estimado_bs as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> catalogo",
						"source(output(",
						"          boleta_id as string,",
						"          control_id as string,",
						"          ci_beneficiaria as string,",
						"          nro_boleta as string,",
						"          fecha_emision as string,",
						"          estado as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> boletas",
						"source(output(",
						"          entrega_id as string,",
						"          boleta_id as string,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as string,",
						"          paquete_id as string,",
						"          paquete_nombre as string,",
						"          fecha_entrega as string,",
						"          lote_produccion as string,",
						"          peso_paquete_kg as string,",
						"          fecha_proxima_entrega as string",
						"     ),",
						"     allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     ignoreNoFilesFound: false) ~> entregas",
						"establecimientos select(mapColumn(",
						"          establecimiento_id,",
						"          nombre,",
						"          tipo,",
						"          municipio,",
						"          departamento",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select1",
						"select1 derive(establecimiento_id = toInteger(establecimiento_id),",
						"          nombre = upper(trim(nombre)),",
						"          tipo = upper(trim(tipo)),",
						"          municipio = upper(trim(municipio)),",
						"          departamento = upper(trim(departamento))) ~> derivedColumn1",
						"catalogo select(mapColumn(",
						"          paquete_id,",
						"          nombre,",
						"          peso_estandar_kg,",
						"          costo_estimado_bs",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select2",
						"select2 derive(paquete_id = toInteger(paquete_id),",
						"          nombre = upper(trim(nombre)),",
						"          peso_estandar_kg = toDecimal(peso_estandar_kg, 10, 2),",
						"          costo_estimado_bs = toDecimal(costo_estimado_bs, 10, 2)) ~> derivedColumn2",
						"entregas, boletas join(entregas@boleta_id == boletas@boleta_id,",
						"     joinType:'inner',",
						"     matchType:'exact',",
						"     ignoreSpaces: false,",
						"     broadcast: 'auto')~> join1",
						"join1 select(mapColumn(",
						"          entrega_id,",
						"          boleta_id = entregas@boleta_id,",
						"          ci_beneficiaria = entregas@ci_beneficiaria,",
						"          establecimiento_id,",
						"          paquete_id,",
						"          fecha_entrega,",
						"          lote_produccion,",
						"          fecha_emision_boleta = fecha_emision,",
						"          estado",
						"     ),",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true) ~> select3",
						"select3 derive(entrega_id = toInteger(entrega_id),",
						"          boleta_id = toInteger(boleta_id),",
						"          ci_beneficiaria = upper(trim(ci_beneficiaria)),",
						"          establecimiento_id = toInteger(establecimiento_id),",
						"          paquete_id = toInteger(paquete_id),",
						"          lote_produccion = upper(trim(lote_produccion)),",
						"          fecha_emision_boleta = toDate(fecha_emision_boleta, 'yyyy-MM-dd'),",
						"          fecha_entrega = toDate(fecha_entrega, 'yyyy-MM-dd'),",
						"          estado = upper(trim(estado))) ~> derivedColumn3",
						"derivedColumn1 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          establecimiento_id as integer,",
						"          nombre as string,",
						"          tipo as string,",
						"          municipio as string,",
						"          departamento as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          establecimiento_id,",
						"          nombre,",
						"          tipo,",
						"          municipio,",
						"          departamento",
						"     )) ~> sink1",
						"derivedColumn2 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          paquete_id as integer,",
						"          nombre as string,",
						"          peso_estandar_kg as decimal(10,2),",
						"          costo_estimado_bs as decimal(10,2)",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          paquete_id,",
						"          nombre,",
						"          peso_estandar_kg,",
						"          costo_estimado_bs",
						"     )) ~> sink2",
						"derivedColumn3 sink(allowSchemaDrift: true,",
						"     validateSchema: false,",
						"     input(",
						"          entrega_id as integer,",
						"          boleta_id as integer,",
						"          ci_beneficiaria as string,",
						"          establecimiento_id as integer,",
						"          paquete_id as integer,",
						"          lote_produccion as string,",
						"          fecha_emision_boleta as date,",
						"          fecha_entrega as date,",
						"          estado as string",
						"     ),",
						"     deletable:false,",
						"     insertable:true,",
						"     updateable:false,",
						"     upsertable:false,",
						"     format: 'table',",
						"     skipDuplicateMapInputs: true,",
						"     skipDuplicateMapOutputs: true,",
						"     errorHandlingOption: 'stopOnFirstError',",
						"     mapColumn(",
						"          entrega_id,",
						"          boleta_id,",
						"          ci_beneficiaria,",
						"          establecimiento_id,",
						"          paquete_id,",
						"          lote_produccion,",
						"          fecha_emision_boleta,",
						"          fecha_entrega,",
						"          estado",
						"     )) ~> sink3"
					]
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/establecimientos_csv')]",
				"[concat(variables('factoryId'), '/datasets/catalogo_paquetes_csv')]",
				"[concat(variables('factoryId'), '/datasets/boletas_csv')]",
				"[concat(variables('factoryId'), '/datasets/entregas_csv')]",
				"[concat(variables('factoryId'), '/datasets/tbl_sup_establecimientos')]",
				"[concat(variables('factoryId'), '/datasets/tbl_sup_paquetes')]",
				"[concat(variables('factoryId'), '/datasets/tbl_sup_entregas')]"
			]
		}
	]
}